<h1>Stupid Coaching</h1>

<form action="/question">
  <label for="form-question">Ask and the Coach shall answer</label>
  <input type="text" name="question" id="form-question">
  <input type="submit" value="Ask!">
</form>
