
<div id="question">
  <h2><%= @question%></h2>
  <p><em>-You</em></p>
</div>
<div id="answer">
  <h2><%= @answer %></h2>
  <p><em>-Your coach</em></p>
</div>
<%=link_to "Ask another question", ask_path%>
